.section {
  display: grid;
  grid-template-columns: auto 320px;
  gap: 20px;

  .container_main {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
  }

  .container_aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

  }
}