.button {
  padding: 12px 18px;
  border: none;
  border-radius: var(--border-radius);
  position: relative;
  background: var(--gradient-ui); /* начальный градиент */
  color: var(--main-color);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--gradient-ui-hover); /* hover градиент */
  opacity: 0;
  transition: opacity var(--transition-standart);
  z-index: -1;
}

.button:hover::before {
  opacity: 1;
}