:root {
    --main-color: #FFFFFF;
    --main-color-04: rgba(255, 255, 255, 0.4);
    --main-color-dark: #F6F5FF;
    --main-color-darkest: #F0F0FF;
    --main-color-light: #E4E1FF;
    --main-text-color: #1E1584;

    --secondary-color: #524E7D;
    --secondary-color-light: #7B6FFF;
    --secondary-color-lighter: #7265FB;
    --secondary-color-lighter-01: rgba(114, 101, 251, 0.1);
    --secondary-color-lightest: #ACA4FF;
    --secondary-color-dark: #5242FF;

    --color-ui-done-light: #26E27C;
    --color-ui-done-lightest: #15D36C;
    --color-ui-cancel-light: #FF87C1;
    --color-ui-cancel-dark: #FF1D45;

    --gradient-main: linear-gradient(to bottom, var(--main-color-dark),var(--main-color-darkest), var(--secondary-color-lighter));
    --gradient-ui: linear-gradient(to bottom, var(--secondary-color-lightest),var(--secondary-color-light), var(--secondary-color-dark));
    --gradient-ui-hover: linear-gradient(to bottom, var(--secondary-color),var(--secondary-color-light), var(--secondary-color-dark));

    --gradient-background: linear-gradient(to bottom, var(--main-color-dark),var(--main-color-light));

    --gradient-ui-done: linear-gradient(to bottom, var(--color-ui-done-light),var(--color-ui-done-lightest));
    --gradient-ui-cancel: linear-gradient(to bottom, var(--color-ui-cancel-light),var(--color-ui-cancel-dark));

    --font-size-main: 16px;
    --font-size-title: 20px;
    --font-size-big: 32px;
    --font-size-large: 40px;
    --font-size-small: 14px;

    --border-radius: 10px;

    --transition-standart:  .2s ease-in-out
}